<h1>Park Checkin with iBeacon</h1>
<p>
	<ul>
		<li><h3><%= link_to 'Users', users_path %></h3></li>
		<li><h3><%= link_to 'Beacon', beacons_path %></h3></li>
		<li><h3><%= link_to 'Checkin', checkins_path %></h3></li>
	</ul>
</p>
